$header-font-color: white;

.app-header {
  color: $header-font-color;
  background: $dark-blue;
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100vw;

  .grid {
    height: $header-height;
    margin: 0;

    .app-title {
      color: $header-font-color;
      font-style: italic;
    }

    .logout-link {
      a {
        color: $header-font-color;
      }

      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
    }
  }
}