.login-page {
  background-color: $background;
  background-size: 10%;

  height: 100vh;

  .login-form-container {
    height: 100vh;
    margin: 0;

    .modal {
      min-width: 500px;
    }

    .registration-link {
      position: relative;
      top: 0.5em;
    }

    .ui.card {
      width: 100%;
    }
  }
}
