@import "variables.scss";
@import "header.scss";
@import "login.scss";
@import "registration.scss";
@import "reports.scss";

#app {
  padding-top: $header-height;
  background: $background;

  .ui.container {
    background: white;
    height: calc(100vh - #{$header-height});
    padding: 8px 24px;
  }

}

.field-label {
  display: block;
  margin: 0 0 .28571429rem 0;
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}

.popup-rule {
  margin-bottom: 5px;
}